<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min4.5.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/admin-main.css">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/admin-login.css">
</head>
<body>
    <main>
        <form class="p-3 form border mx-auto" action="/admin/login" method="POST">
            <% if (error) { %>
                <div style="color: red;" class="p-3"><%= error %></div>
                <% } %>
            <header class="align-center"><h4>ورود به حساب کاربری</h4></header>
            <br>
            <div class="form-group">
                <label for="username">نام کاربری: </label>
                <input  type="text" class="form-control" maxlength="11" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">کلمه عبور: </label>
                <input type="password" class="form-control" id="password" name="password"> 
                
            </div>
            <input id="submit-btn" class="align-center btn btn-primary" type="submit" value="ورود">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="">
        </form>
    </main>
</body>
</html>