<aside class="profile-aside border flow-right">
    <div class="profile-aside__user-info align-items-center border-bottom">
        <div class="profile-aside__item p-2">
            <span class="fa fa-user-circle "></span>
            <div class="px-3">
                <div class="font-weight-bold text-right mb-1">
                    محمدمحمدنسب 
                </div>
                <div class="text-secondary small text-right">
                    09371123327
                </div>
            </div>
        </div>
    </div>
    <div class=" d-flex flex-column profile-aside__nav "> 
        <a class="profile-aside__item link p-3" href="/profile/my-orders"><span class="fa fa-table"></span>سفارش های من</a>
        <a class="profile-aside__item link p-3" href="/profile/addresses"><span class="fa fa-compass "></span> نشانی های  منتخب</a>
        <a class="profile-aside__item link p-3" href="/profile/personal-info"><span class="fa fa-user"></span> اطلاعات کاربر</a>
    </div>
    <div class="d-flex flex-column profile-aside__account py-2">
        <a class="profile-aside__item p-3 link"><span class="fa fa-sign-out"></span> خروج</a>
    </div>
</aside>