<!DOCTYPE html>

<head>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>سبد خرید</title>
    <link rel="stylesheet" href="/css/font-awesome/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/rtl.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

   
</head>

<body>
    <header>
      
      <div class="row col-12 main-row-tophead">
            <div class="container">
               <div class="row col-12">
                <div class="col-12 col-md-4 box-form-tophead">
                  <form class="form-inline form-search-tophead">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="جستجو"
                      aria-label="Search">
                  </form>              
                </div>
                <div class="col-12 col-md-4 box-image-logo"><img class="image-logo" src="./images/image-logo.png" alt=""></div>
                <div class="col-12 col-md-4 ">
                  <ul class="list-inline ul-tophead">
                    <li class="list-inline-item login"><a  href="#">ورود</a></li>
                    <li class="list-inline-item "><a class="signup" href="#">ثبت نام</a><a href="#" class="fa fa-user"></a></li>
                    <li class="list-inline-item"><a  href="#"><span class="sabadkharid">سبد خرید</span><span class="fa fa-shopping-basket"></span></a></li>
                 </ul>
                </div>
               </div>
               <div class="row col-12" >
                <nav class="navbar navbar-expand-lg navbar-light bg-light col-12 navigation-edit" >
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                    <ul class="navbar-nav mr-auto ul-navigation">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           لوازم اداری
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">گیره دوبل</a>
                          <a class="dropdown-item" href="#">کلیپس مثلثی</a>
                          <a class="dropdown-item" href="#">کلیپس رنگی</a>
                          <a class="dropdown-item" href="#">کلیپس 5 سانت</a>
                          <a class="dropdown-item" href="#">مگنت</a>
                          <a class="dropdown-item" href="#">تخته پاکن</a>
                          <a class="dropdown-item" href="#">کیف فایلی</a>
                          <a class="dropdown-item" href="#">کاغذ</a>
                          <a class="dropdown-item" href="#">دیوایدر</a>
                          <a class="dropdown-item" href="#">منگنه</a>
                          <a class="dropdown-item" href="#">زونکن</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           لوازم اتحریر و نوشت افزار
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">خودکار</a>
                          <a class="dropdown-item" href="#">کلاسور</a>
                          <a class="dropdown-item" href="#">یدک کلاسور</a>
                          <a class="dropdown-item" href="#">کیف فانتزی</a>
                          <a class="dropdown-item" href="#">کیف کش دار</a>
                          <a class="dropdown-item" href="#">غلط گیر</a>
                          <a class="dropdown-item" href="#">ماژیک</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           هدایا تبلیغاتی و همایش
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">پوشه دکمه دار</a>
                          <a class="dropdown-item" href="#">طلق سینه</a>
                          <a class="dropdown-item" href="#">بندآویز گردنی</a>
                          <a class="dropdown-item" href="#">خودکار</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           امور چاپ
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">چاپ پوشه</a>
                          <a class="dropdown-item" href="#">چاپ بند آویز</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </nav>
                
              </div>
            </div>
      </div>

    </header>

    <main >
      <!--  box product -->
      <div class="container container-product">
        <div class="row col-12 row-title-basket">
          <span>سبد خرید</span><span>1</span>
        </div>
        <div class="row col-12 main-row-basket">
          <div class="col-12 col-sm-12 col-lg-8 ">
            <div class="row row-product-basket">
              <div class="col-sm-12 col-md-3 main-box-image-basket"><img src="./images/makeup.jpg" alt=""></div>
              <div class="col-sm-12 col-md-9 box-product-info">
                 <div><h4>بوگیر برند</h4></div>
                 <div><span>رنگ :</span><br><span style="color: black;">مشکی</span></div>
                 <div class="box-counter">
                   <span>تعداد :</span><br>
                   <span onclick="plus('number')" class="fa fa-plus-circle" id="plus"></span><span id="number">2</span><span onclick="minus('number')" class="fa fa-minus-circle" id="minus"></span>
                 </div>
              </div>
            </div>
            <div class="row row-product-basket">
              <div class="col-sm-12 col-md-3 main-box-image-basket"><img src="./images/makeup.jpg" alt=""></div>
              <div class="col-sm-12 col-md-9 box-product-info">
                 <div><h4>بوگیر برند</h4></div>
                 <div><span>رنگ :</span><br><span style="color: black;">مشکی</span></div>
                 <div class="box-counter">
                   <span>تعداد :</span><br>
                   <span onclick="plus('number')" class="fa fa-plus-circle" id="plus"></span><span id="number">2</span><span onclick="minus('number')" class="fa fa-minus-circle" id="minus"></span>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-lg-4 main-box-price-basket">
            <div class="box-price-basket">
              <table class="table">
                <tbody>
                  <tr>
                    <th>قیمت کالاها</th>
                    <td></td>
                    <td></td>
                    <td><span>120000</span><span>تومان</span></td>
                  </tr>
                  <tr>
                    <th>تخفیف کالاها</th>
                    <td></td>
                    <td></td>
                    <td style="color: #ef394e;"><span>120000</span><span>تومان</span></td>
                  </tr>
                  <tr>
                    <th style="font-weight: bold; color: black;">جمع</th>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold; color: black;"><span>120000</span><span>تومان</span></td>
                  </tr>
                  <tr>
                    <th>هزینه ارسال</th>
                    <td></td>
                    <td></td>
                    <td><span>120000</span><span>تومان</span></td>
                  </tr>
                  <tr>
                    <th style="font-weight: bold; color: black;">مبلغ قابل پرداخت</th>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold; color: black;"><span>120000</span><span>تومان</span></td>
                  </tr>
                </tbody>
              </table>
              <div class="button-box-basket"><a href="#" class="btn btn-primary">ادامه فرآیند خرید</a></div>
            </div>
          </div>
        </div>
      </div>
     
    </main>

    
    <footer class="footer-tag">
      <div class="container">
        <div class="row col-12 main-row-footer">
          <div class="col-12 col-md-4 first-box-footer">
            <div><h4>تماس با ما</h4></div>
            <div>مازندران - سه راه دانشگاه -روبه روی داشنگاه</div>
            <div>011222222</div>
            <div><h4>درباره ما</h4></div>
            <div><p>هدف اصلی ما از ایجاد این توزیع هر چه آسان تر انواع لوازم التحریر می باشد . همچنین پذیرای سفارش شما عزیزان می باشیم</p></div>
          </div>
          <div class="col-12 col-md-4 box-form-footer">
            <form class="form-footer">
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="نام">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="ایمیل">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="شماره تماس">
              </div>
              <div class="form-group">
                <textarea class="form-control" placeholder="پیام"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">ارسال</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row col-12 last-row-footer">
        <div class="container">
          <p>کلیه حقوق این سایت متعلق به شرکت مذکور می باشد</p>
        </div>
      </div>
    </footer>
      
   




<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.autoplay.js"></script>
<script src="/js/owl.carousel.min.js"></script>



<script>

// window.onscroll = function () {
//         scrollFunction()
//     };
//   function scrollFunction() {
//         if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
//             document.getElementById("header-top").style.top = "0";
//             $('.header').addClass('custom');
//         } else {
//             document.getElementById("header-top").style.top = "0";
//             $('.header').removeClass('custom');

//         }
//     }


// Set the date we're counting down to
var countDownDate = new Date("2020-09-20").getTime();

var x = setInterval(function() {

var now = new Date().getTime();

var distance = countDownDate - now;

var days = Math.floor(distance / (1000 * 60 * 60 * 24));
var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((distance % (1000 * 60)) / 1000);

document.getElementById("demo").innerHTML = days + "d " + hours + "h "
+ minutes + "m " + seconds + "s ";

if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "تمام شده";
}
}, 1000);



/////////////////////////////////////////////////////// carosel slider

$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    dots:false,
    nav:true,
    autoplay:true,   
    smartSpeed: 3000, 
    autoplayTimeout:7000,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
})


/////////////////////////////////////////////////////// carosel slider

function plus(f){
  var a = document.getElementById(f);
  var c = a.textContent;
  var b = parseInt(c);
  b = b + 1;
  if(b >= 3){
    b = 3;
  }
  a.textContent = b;
}

function minus(f){
  var a = document.getElementById(f);
  var c = a.textContent;
  var b = parseInt(c);
  b = b - 1;
  if(b < 1){
    b = 1;
  }
  a.textContent = b;
}


</script>

</body>


</head>