<div class="c-slide " >
    <div class="c-slide-inner">
        <div style="background-color: blueviolet" class="c-slide-item">1</div>
    </div>
    <span  class="c-slide-prev-control">
        <i class="fas fa-arrow-left c-slide-prev-btn" style="color: black;"></i>
    </span>
    <span  class="c-slide-next-control">
        <i class="fas fa-arrow-right c-slide-next-btn" style="color:black;"></i>
    </span> 
</div>
