.form-add-product{
    display: flex;
    flex-flow: column wrap;
    margin: auto;
}
.color-choice{
    margin: 0.5rem;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 3px;
}
.color-choice-btn{
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
}
.color-choice-text{
    padding: 0.25rem;
    border-left:1px solid #ced4da;

}
.c-form-select{
    display: inline-block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem 0.375rem 1.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none;
}

.modal-img{
    max-width: 100%;
}
.main-pic-container{
    border: 5px groove gold !important;
}
.form-input{
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-add-product__btn-group{
    border-top: 1px solid rgba(0, 0, 0, 0.507);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.submit-btn{
    font-size: 20px;
    margin: 10px;
    
}
.cancel-btn{
    font-size: 20px;
    margin: 10px;
}
.custom-select{
    width: auto;
}
.form-add-product__cell label{
   margin-bottom: 0;
   margin-left: 0.5rem;
}
.form-add-product__row{
    border-top: 1px solid gray;
}
.form-add-product__row:first-of-type{
    border-top: none;
}
.form-add-product__cell{
    padding: 7px;
    display: flex;
    align-items: center;
}
input:invalid{
    box-shadow: none;
}
.form-add-product__input{
    width: 70%;
    max-width: 200px;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 5px;;
    padding: 3px;
}
.form-add-product__input[required]:invalid{
    border: 1px solid red;

}
.form-add-product__input:invalid{
    box-shadow: none;
} 
.form-add-product__input:valid:focus{
    box-shadow: 1px 1px 4px greenyellow;
}

/* preview  */
.btn{
    box-shadow: 1px 1px 4px gray;
}
#mirror{
    color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.438);
    box-shadow: 1px 1px 2px gray, 1px -1px 2px gray, -1px -1px 2px gray, -1px -1px 2px gray;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
}

.upload-btn-wrapper {
    margin: 5px;
}
/* preview end */


.c-textarea{
    margin: 2px;
    border-radius: 5px;
    
}
.c-textarea:focus{
    border: 1px solid blue;
    box-shadow: 1px 1px 4px rgb(3, 194, 194);
}
.form-add-product__more-info{
    padding: 5px;
    transition: height 300ms;
    border-top: 1px solid rgba(0, 0, 0, 0.507);
    width: 100%;
}
.form-header{
    color: black;
    padding: 10px;
}
.moreInfo button{
    width: 60px;
    height: 50px;
    margin: auto;
    margin-top: 5px;
}
.change-info-btn{
    padding: 10px;
    font-size: 20px;
    margin: 20px auto;  
}
.moreInfo{
    display: flex;
    flex-flow: column wrap;
    transition: opacity 300ms ease-in;
}

#pic-btn{
    display: none;
}

.product-image-container{
    border: none;
    position: relative;
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    flex-flow: column wrap;
}
.product-image-container img{
    height: 200px;
}
.more-info{
    height: auto;
    display: block;
}
.more-info-table{
    border: 1px solid black;
    margin: 10px;


}
.more-info-table__header{
    font-weight: 600;
    margin: 0px;
    text-align: center;
    color: white;
    
}
.more-info-table .first-col{
    padding: 0px;
    flex-grow: 1;
    width: 20%;
}
.more-info-table .third-col{
    width: 20%;
    flex-grow: 1;
    padding: 0px;
}
.more-info-table .second-col{
    padding: 0px;
    width: 55%;
    flex-grow: 1;
    border-left:1px solid black;
    border-right: 1px solid black;
}
.more-info-table__value{
    padding: 5px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.774);
}
.more-info-table__row{
    display: flex;
    width: 100%;
    align-items: stretch;
    border-bottom: 1px solid black;
}
.more-info-table .more-info-table__row:last-child{
   border-bottom: 0;
}
.info-delete-btn{
    margin:  2px auto;
    display: block;
    font-size: 0.75rem;
    font-weight: bolder;
    width: 50px;
    text-align: center;
    background-color: red;
    color: white;
}
#id-image-invalid-text{
    color: red;
    position: absolute;
    left: 0;
    display: none;
}
#info-title, #info-value{
    border-radius: 5px;
}
#info-title:focus, #info-value:focus{
    border: 1px solid blue;
    box-shadow: 1px 1px 4px rgb(3, 194, 194);
}

.title-info, .value-info{
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
}
.more-info-adder{
    display: flex;
    margin: 5px;
    align-items: center;
    flex-flow: column wrap;
}
.more-info-adder-group{
    display: flex;
    flex-flow: column wrap;
}
@media screen and (min-width:600px){
    .c-lg-50{
        width: 50%;
    }
    .c-lg-100{
        width: 100%;
    }
    .moreInfo{
        margin: 2%;
        flex: 0 0 200px;
        flex-flow: column wrap;
    }
    .form-add-product__cell{
        padding: 10px;
    }
    #id-about-product{
        height: auto;
    }
    .more-info{
        height: auto;
    }
    .form-add-product > div:first-child{
        flex-flow: row wrap;
        align-items: flex-end;
    }
    .more-info-adder{
        flex-flow: row wrap;
    }
    .more-info-adder-group{
        flex-flow: row wrap;
    }
}