.order-detail-btn, .order-detail-btn:active:hover:visited{
    color: black;
    text-decoration: none;
}
.delivered-text{
    color: rgb(3, 148, 3);
}
.cancelled-text{
    color: red;
}
.order-info{
    padding: 0.5rem;
}
.main-message{
    width: 70%;
    border-radius: 5px;
}

@media only screen and (min-width: 800px){
    .order-info{
        border-left:1px solid #b0b2b4;
    }
}
