html{
    direction: rtl;
    /* font-size: calc(0.8rem + 0.2vw); */
}
.form-input{
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
body{
    font-family: IRANSans(FaNum);
    text-align: right;
}
main, aside{
    background-color: white;
}
.c-warning{
    border: 1px solid gold;
    border-radius: 5px;
}
.c-warning-header{
background-color: rgba(255, 255, 0, 0.466);
   border-bottom: 1px solid gold;
}

